<h1>
	New Workout Page
</h1>

<form action="/workouts" method="POST">
	<input type="text" name="workout[name]" placeholder="Workout Name">
	<input type="text" name="workout[image]" placeholder="Image">
	<input type="text" name="workout[notes]" placeholder="Description">
	<input type="text" name="workout[difficulty]" placeholder="Beginner/Intermediate/Advanced">
	<input type="submit">
</form>